.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.evil {
  max-width: 289px;
}

.clicktodefeat {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.explod {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
}